

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-family: Tektur, Mate SC, Sans-serif;
    white-space: nowrap;

    &--primary {
        color: yellow;
        background-color: green;
        
        &:hover {
            background-color: lighten(green, 5%);
        }
    }

    @media (max-width: 640px) {
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}