@use "../variables" as *;


.infos-bar {
    max-width: 100%;
    margin: 0 auto;
    padding: 16px 24px;
    box-shadow: 1px 1px 15px $colorYellow3;
    border-radius: 15px;
    background-color: $colorGrayOpacity2;
    display: flex;
    justify-content: center;
    gap: 35px;


    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 18px;
            font-weight: bolder;
            color: $colorBlack;
            line-height: 30px;


            b {
                color: $colorBlack;
                font-size: 25px;
                display: block;
            }
        }
    }

    @media (max-width: 768px) {
        max-width: 100%;
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;        
                text-align: center;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}