


.infos-bar {
    padding: 16px 24px;
    box-shadow: 1px 1px 15px #ffffff;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    transition: all ease-in-out 1s;

    &:hover {
        scale: 1.1;
        background-color: rgba(255, 255, 255, 0.89);
        box-shadow: 1px 1px 10px #eee;
        cursor: pointer;
    }
    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: black;

            b {
                color: black;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}