@use 'variables' as *;

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $colorBlack;
        content: "";
        opacity: 0.7;
    }

    &__logo {
        display: block;
        position: absolute;
        box-shadow: 1px 1px 15px $colorYellow2;
        left: 50;
        top: 30;
        border-radius: 50%;
        height: 80px;
    }

    &__text {
        font-family: Tektur, Mate SC, Sans-serif;
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 30px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;

        span {
            font-family: Tektur, sans-serif;
        }
    }

    &__name {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background: $colorBlackOpacity;
        text-shadow: 1px 1px 1px $colorBlack;
        max-width: 500px;
        width: 100%;
        padding: 50px;
        border-radius: 10px;
        animation: pulseZoom 9s ease-in-out infinite;

        @keyframes pulseZoom {
            0% {
                transform: scale(1);
                box-shadow: 0 0 0px transparent;
            }
            50% {
                transform: scale(1.1);
                box-shadow: 1px 1px 10px $colorYellow3;
            }
            100% {
                transform: scale(1);
                box-shadow: 0 0 0px transparent;
            }
        }
            
        
    }

    @media (max-width: 768px) {
        padding: 40px 0;

        &__logo {
            height: 100px;
            position:static;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        
        &__name {
            font-size: 23px;
        }

        &__text {
            font-size: 30px;
            line-height: 50px;
            margin: 24px 0;
        }
    }
}