@use 'variables' as *;


.mini-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $colorBlackOpacity;
    box-shadow: 0px 5px 10px $colorBlack;
    z-index: 1000;
    transition: transform 0.5s ease;
    backdrop-filter: blur(6px);

    &__button {
        display: none;
        font-size: 25px;
        background: none;
        border: none;
        cursor: pointer;
        width: 100px;

        @media (max-width: 768px) {
            display: block;
            margin: 0px 0;
            width: 100%;
        }
    }

    &__list {
        display: flex;
        gap: 20px;
        list-style: none;
        justify-content: center;
        gap: 30px;
        margin: 0;
        padding: 10px;

        @media (max-width: 768px) {
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            list-style: none;
            gap: 5px;
            padding: 0;
        }
        
        &__item {
            @media (max-width: 768px) {
                width: 100%;
                text-align: center;
            }

            .list--style {
                color: $colorYellow1;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.2s ease;
                padding-bottom: 10px;

                @media (max-width: 768px) {
                    display: block;
                    padding: 10px;  
                }
                
                &:hover {
                    border-bottom: 1px solid ;

                    @media (max-width: 768px) {
                        border: none;
                    }
                }
            }
        }
    }
    .hiddenList {
            display: flex;
        }
}