
//YELLOW
$colorYellow1: #eec383;
$colorYellow2: #e5ff00;
$colorYellow3: #ebbd28;


//BLACK
$colorBlack: #000;
$colorBlack2: #111;
$colorBlackOpacity: rgba(36, 36, 36, 0.5);

//GRAY
$colorGrayOpacity2:rgba(255, 255, 255, 0.548);

//RED
$colorRed: #ff002b;

//GREEN
$colorGreen: #253d25;